<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "Edit Account", url: "account/edit" }); %>
    <link rel="stylesheet" href="/css/popUp_overlay.css">
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/account", pageName: "Account" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
        <span class="nav-acc"><a href="/account/privacy">Privacy Settings</a></span> <br>
    </div>
    <div class="container">
        <div class="main">
            <center>
            <div class="center-container">
            <p class="error" id="error"></p>
            <% if (!image) { %>
                <form class="form" action="/avatar" method="POST" enctype="multipart/form-data">
                    <input name="Image" type="file">
                    <button type="submit" class="form-button">Submit</button>
                </form>
                <% } else { %>
                <form class="form" action="/avatar/delete" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="form-button">Delete Avatar</button>
                </form>
                <% } %>
            <form class="form" id="form-nickname">
                <label for="nickname" class="form-label">Change Nickname:</label><br>
                <input name="nickname" type="text" class="form-input" id="nickname" placeholder="<% if (u.nickname) { %><%= u.nickname %> <% } else { %><%= u.user %><% } %>" autocomplete="off" spellcheck="off" required>
                <button type="submit" class="form-button">Change Nickname</button>
            </form>
            <form class="form" id="form-desc">
                <label for="desc" class="form-label">Change Description:</label><br>
                <input name="desc" type="text" class="form-input" id="desc" placeholder="<% if (u.description) { %><%= u.description %><% } else { %>Description<% } %>" autocomplete="off" spellcheck="off">
                <button type="submit" class="form-button">Change Description</button>
            </form><% if (u.ifDiscord == false && !u.discord) { %>
                <p class="error">No Discord account is linked.</p>
                <span class="button"><a href="#policy">Link</a></span>
            <% } else if (u.ifDiscord == false && u.discord) { %>
                <p>Discord account is linked to <%= userDiscord.username %>#<%=userDiscord.userDisc%></p>
                <span class="button"><a href="#confirm">Unlink</a></span><% } %>
                <br><br>
        </div>
        <% if (!u.discord) { %>
            <div id="policy" class="overlay">
              <div class="popup">
                <h2>Privacy Policy</h2>
                <div class="content">
                  <p>You accept that KaiURL will gather this data..</p>
                  <p>
                      KaiURL Account Data:
                      <li>Provided Email</li>
                      <li>Provided Password</li>
                      <br>
                      <small style="font-weight: bold;">The provided data will always be encrypted to ensure your data will not be easily leaked.</small>
                  </p>
                  <p>
                      Discord Account Data:
                      <li>Discord Email</li>
                      <li>Discord Account Id</li>
                      <li>Discord Account Discriminator</li>
                      <li>Discord Account Username</li>
                      <li>Callback Code (This will be deleted after the account is fully linked)</li>
                      <br>
                      <small style="font-weight: bold;">The provided data will always be encrypted to ensure your data will not be easily leaked.</small>
                  </p>
                      <span class="button"><a href="/api/discord/link">I accept</a></span>
                      <span class="button"><a href="#closed">Cancel</a></span>
                </div>
              </div>
            </div><% } else { %>
              <div id="confirm" class="overlay">
                  <div class="popup">
                      <p class="error">Are you sure you want to unlink your Discord account?</p>
                      <div class="content">
                          <small><form action="/api/discord/unlink" method="post" class="form">
                              <button class="form-button">Yes</button>
                              <span class="button"><a href="#closed">Cancel</a></span>
                          </form></small>
                      </div>
                  </div>
              </div><% } %>
        <br>
        <div class="center-container">
            <button class="form-button"><a class="button" href="/passwordReset">Reset Password</a></button>
        </div>
    </div>
</div>
</body>
</html>
