<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "Edit Images", url: "account/edit" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/account/images", pageName: "Account" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
        <center>
        <table id="container">
            <tr><th>Files</th><th>Edit</th></tr>
            <% img.forEach(e => { %>
                <% let find = e.filename.toUpperCase(); %>
                <tbody>
                    <tr>
                    <% if (!e.removed) { %>
                        <td><a href="/i/<%-e.filename%>"><%-e.filename%></a></td>
                        <td><form action="/account/files/<%-e.filename %>/remove" method="post" class="form">
                            <button class="form-button">Remove</button>
                        </form></td>
                    <% } %>
                    </tr>
                </tbody>
            <% }); %>
        </table>
        </center>
        </div>
    </div>
</body>
</html>