<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "Account Dashboard", url: "account" }); %>
    <% let owner; %>
    <% if (u.role === "Owner") owner = "Owner"; %>
    <% if (u.role !== "Owner") owner = ""; %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/account", pageName: "Account" }) %>
        <br><br>
        <center>
        <div class="right-container">
            <p class="bold">Account Info:<br>
                Account Name: <%- u.user %><br>
                <% if (u.nickname) { %>
                <% let i; %>
                <% let an; %>
                <% let name = u.nickname.toUpperCase() %>
                <% for (i = 0; i < bName.length; i++) { %>
                <% if (bName[i].name == name) { an = true } %>
                <% } %>
                <% if (an) { %>
                Nickname: Not set.
                <% } else { %>
                Nickname: <%- u.nickname %>
                <% }} else { %>
                Nickname: Not set.
                <% } %>
            </p>
        </div>
    </center>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
        <span class="nav-acc"><a href="/account/edit">Edit Account</a></span> <br>
        <span class="nav-acc"><a href="/account/api/dashboard">API</a></span> <br> <br>
        <span class="nav-acc"><a href="/account/files">Files</a></span> 
    </div>
    <div class="container">
        <div class="main">
          <div style="padding-top: 50px;" class="other">
            <center>
                <div class="center-container">
                  <a href="/user/<%= u.user %>">Public Profile.</a>
                  <% if (owner) { %>
                    <br><a href="/kaipaste/admin">KaiPaste Admin</a>
                  <% } %>
                </div>
                <p class="error" id="error"></p>
                <div class="center-container">
                    <form class="form" id="form-shrink-private">
                        <div class="form-item">
                            <label class="form-label" for="domain">Choose Domain</label>
                            <select class="form-input" id="domain" name="domain">
                                <option value="kaiurl.xyz">kaiurl.xyz</option>
                                <option value="shrturl.link">shrturl.link</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label class="form-label" for="fullURL">Enter URL</label>
                            <input placeholder="https://www.kaiurl.xyz" type="text" class="form-input" name="FullURL" id="fullURL" autocomplete="off" spellcheck="off">
                        </div>
                        <button class="form-button" type="submit">Shrink</button>
                    </form>
                </div>
                <br><br>
                <table id="container">
                    <tr>
                        <th>Short URL</th><th>Show URL Details</th>
                    </tr>
                    <tbody>
                        <% p.forEach(short => { %>
                        <% if (short.removed) { %>
                            <% return %>
                        <% } %>
                        <tr>
                        <% if (short.Domain === 'shrturl.link') { %>
                            <td>
                                <% if (!theme) { %>
                              <a id="id" class="title" style="color: rgb(22, 85, 22)" href="https://www.shrturl.link/<%= u.user %>/<%= short.short %>" target="__blank" title="<%= short.full %>">https://shrturl.link/<%= u.user %>/<%= short.short %></a>
                              <% } else if (theme == 'dark') { %>
                                <a id="id" class="title" style="color: rgb(32, 136, 32)" href="https://www.shrturl.link/<%= u.user %>/<%= short.short %>" target="__blank" title="<%= short.full %>">https://shrturl.link/<%= u.user %>/<%= short.short %></a>
                                <% } else { %>
                                    <a id="id" class="title" style="color: rgb(22, 85, 22)" href="https://www.shrturl.link/<%= u.user %>/<%= short.short %>" target="__blank" title="<%= short.full %>">https://shrturl.link/<%= u.user %>/<%= short.short %></a>
                                <% } %>
                              <% if (short.official) { %>
                                ✔
                                <% }} else { %>
                                    <td>
                                      <a id="id" class="title" href="/<%= u.user %>/<%= short.short %>" target="__blank" title="<%= short.full %>">https://www.kaiurl.xyz/<%= u.user %>/<%= short.short %>  </a>
                                      <% if (short.official) { %>
                                        ✔
                                        <% } %>
                                      <% } %>
                        </td>
                            <td class="find"><a class="whitetitle" href="/r/<%= short.short %>/find" target="_" title="<%= short.full %>">/find</a></td>
                        </tr>
                       <% }) %>
                    </tbody>
                </table>
            <br><br>
                <p class="bold"><a href="/kaipaste">KaiPaste:</a></p>
                <table id="container">
                    <tr>
                      <th>Paste</th><th>Remove</th><th>Edit</th>
                    </tr>
                    <tbody>
                      <% text.forEach(text => { %>
                        <% if (text.removed) { %>
                          <% return %>
                          <% } %>
                          <% if (text.discordID === u.userID) { %>
                      <tr>
                        <td><a id="id" class="title" href="/kaipaste/<%= text.id %>" target="__blank" title="<%= text.title %>"><%= text.title %></a>
                        </td>
                        <td>
                          <form method="post" action="/kaipaste/<%= text.user %>/<%= text.id %>/remove">
                            <button class="form-button" type="submit" name="delete" class="link-button">Remove <%= text.title %></button>
                          </form>
                        </td>
                        <td>
                          <form method="POST" action="/kaipaste/<%=text.user %>/<%=text.id %>/edit">
                            <button class="form-button" type="submit" name="edit" class="link-button">Edit <%= text.title %></button>
                          </form>
                        </td>
                      </tr>
                        <% } %>
                      <% }) %>
                    </tbody>
                  </table>
            </div>
        </div>
    </center>
    </div>
</body>
</html>
<script defer src="/js/form.js"></script>
