<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% let verified; %>
    <% let admin; %>
    <% let owner; %>
    <% let bFix; %>
    <% if (user.role == "Verified") verified = " ✔" %>
    <% if (user.role !== "Verified") verified = "" %>
    <% if (user.role == "Admin") admin = "Admin"; %>
    <% if (user.role == "Owner") owner = "Owner"; %>
    <% if (user.role == "BugFix") bFix = "Bug Hunter"; %>
    <% if (user.role !== "Admin") admin = ""; %>
    <% if (user.role !== "Owner") owner = ""; %>
    <% if (user.role !== "BugFix") bFix = ""; %>

    <%
        name = user.user;
        let Cname = user.user.toUpperCase();
        let i;
        let result;
            for (i = 0; i < Name.name.length; i++) {
                if (Name.name[i] == Cname) result = true
            }
        if (result == true) name = "Blocked Name."
    %>
    <%- include('../meta/index', { page: name + verified, url: `user/${user.user}` }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/user/" + user.user, pageName: "Home" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <center>
            <div class="center-container">
            <% if (verified) { %>
                <h2><p class="role">Verified <img style="width: 25px; height: 25px; border-radius: 50%;" src="/image/check.png" alt="This user is verified."></p></h2>
            <% } %>
            <% if (admin) { %>
                <h2><p class="role">Admin <img style="width: 25px; height: 25px; border-radius: 50%;" src="/image/check.png" alt="This user is verified."></p></h2>
            <% } %>
            <% if (owner) { %>
                <h2><p class="role">Owner <img style="width: 25px; height: 25px; border-radius: 50%;" src="/image/check.png" alt="This user is verified."></p></h2>
            <% } %>
            <% if (bFix) { %>
                <h2><p class="role">Bug Hunter <img style="width: 25px; height: 25px; border-radius: 50%;" src="/image/check.png" alt="This user is verified."></p></h2>
            <% } %>
            <% if (image) { %>
            <% if (image.filename === `${user.userid}-${user._id}.png`) { %>
                <img src="/img/<%= user.userid %>-<%= user._id %>.png" alt="Profile picture" width="120px" height="120px" style="border-radius: 50%;">
            <% }} %>
            <h2 class="bold"><%= name %></h2>
            <% if (user.description) { %>
            <p>
                <%= user.description %>
            </p>
            <% } %>
            <p>
                Number of URLs:<br>
                <%= uUrl.length %>
            </p>
            <% if (u) { %>
                <% if (u.userid === user.userid) { %>
                    <a href="/account">Edit Account</a>
                <% } else if (u.perms == "ADMIN") { %>
                    <a href="/account/aEdit/<%- user.userid %>">Admin Edit</a>
                <% } %>
            <% }; %>
        </div>
        <% if (user.twitter || user.youtube || user.discord || user.glimesh) { %>
        <br>
        <div class="center-container">
                <p>
                    Links:
                </p>
                <% if (user.twitter) { %>
                <p>
                    <a href="https://twitter.com/<%= user.twitter %>" target="_" class="link">Twitter</a>
                </p>
                <% } else { } %>
                <% if (user.youtube) { %>
                <p>
                    <a href="https://www.youtube.com/<%= user.youtube %>" target="_" class="link">Youtube</a>
                </p>
                <% } else { } %>
                <% if (user.discord) { %>
                <p>
                    <%= user.discord %>
                </p>
                <% } else { } %>
                <% if (user.glimesh) { %>
                <p>
                    <a href="https://glimesh.tv/<%= user.glimesh %>" target="_" class="link">Glimesh</a>
                </p>
                <% } else { } %>
        </div>
        <% } %>
    </div>
</div>
</body>
</html>