<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: `${user.user}'s Profile!`, url: `user/${user.userid}` }); %>
    <link rel="stylesheet" href="/css/popUp_badge.css">
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/user/" + user.userid, pageName: "Home" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main"><% if (!user.removed) { %>
            <center>
                <div class="center-container"><% if (!privacy || privacy.hideRole == false) { if (user.perms == "OWNER" || user.perms == "DEV") { %>
                    <h2><div class="popup" onclick="myFunction()">
                        <span class="popuptextDev" id="myPopup"><%= user.user %> is a developer for KaiURL.xyz. If you want to become a developer, <a href="/jobs/dev">apply here</a>.</span>
                        <p class="role">Developer <img style="width: 25px; height: 25px; border-radius: 50%;" src="/image/check.png" alt="The developer of the site!"></p>
                    </div></h2><% } else if (user.perms == "ADMIN") { %>
                    <h2><div class="popup" onclick="myFunction()">
                        <span class="popuptextRole" id="myPopup"><%= user.user %> is an Admin for KaiURL.xyz.</span>
                        <p class="role">Admin <img style="width: 25px; height: 25px; border-radius: 50%;" src="/image/check.png" alt="The Admin of the site!"></p>
                    </div></h2><% } else if (user.perms == "BUG-HUNTER") { %>
                    <h2><div class="popup" onclick="myFunction()">
                        <span class="popuptextRoleBig" id="myPopup"><%= user.user %> is a Bug Hunter for KaiURL.xyz. You can get this by reporting bugs!</span>
                        <p class="role">Bug Hunter <img style="width: 25px; height: 25px; border-radius: 50%;" src="/image/check.png" alt="A bug hunter for the site!"></p>
                    </div></h2><% } else if (user.perms == "VERIFIED") { %>
                    <h2><div class="popup" onclick="myFunction()">
                        <span class="popuptextRole" id="myPopup"><%= user.user %> is a verified user.</span>
                        <p class="role">Verified <img style="width: 25px; height: 25px; border-radius: 50%;" src="/image/check.png" alt="A verified user for the site!"></p>
                    </div></h2><% }} %><% if (image) { %>
                    <img src="/avatar/<%= user.userid %>.png" alt=" <%- user.user %>'s Avatar" width="120px" height="120px" style="border-radius: 25%;">
                    <% } %><% if (!user.nickname) { %>
                    <h2 class="bold"><a href="/user/<%-user.userid%>"><%= user.user %></a></h2><% } else { %><h2 class="bold"><a href="/user/<%-user.userid%>"><%= user.nickname %></a></h2><%}%><% if (user.description) { %>
                    <p><%= user.description %></p><% }; if (!privacy || privacy && privacy.hideUrls == false) { %>

                    <p>Number of URLs:<br><%=uUrl.length%></p><% }; if (admin) { %>
                    <a href="/account/edit/<%= user.userid %>">Admin Edit</a><% } else if (u && u.userid == user.userid) { %>
                    <a href="/account/edit">Edit Account</a><% } %>
                </div>
            </center>
        </div><% } else { %>
        <div class="main">
            <center>
                <div class="center-container">
                    <p><%- user.user%> was removed by an admin for "<%- user.reason %>".</p>
                    <small>If you think this was a mistake <a href="/contact">contact me.</a></small>
                </div>
            </center>
        </div><% } %>
    </div>
</body>
</html>
<script defer src="/js/popUp.js"></script>