<noscript><meta http-equiv="Refresh" content="0; url='/error/enable-javascript-please'" /></noscript>
    <!-- Primary Meta Tags -->
    <link rel="icon" href="/icon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <title><%= page %></title>
    <meta name="title" content="<%= page %>">
    <% if (url.includes("user/")) { %>
    <meta name="description" content="<%= user.description %>">
    <meta name="author" content="Iris Zol">
    <meta name="keywords" content="Kai, KaiURL, .xyz, express, shortUrl, urlShort, shrinkURL, open-source, open source, MIT License, github"> 
    <!-- Google Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.kaiurl.xyz/<%= url %>">
    <meta property="og:title" content="<%= page %>">
    <meta property="og:description" content="<%= user.description %>">
    <% if (image) { %>
    <meta property="og:image" content="https://www.kaiurl.xyz/img/<%= user.userid %>-<%= user._id %>.png">
    <% } %> 
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://www.kaiurl.xyz/<%= url %>">
    <meta property="twitter:title" content="<%= page %>">
    <meta property="twitter:description" content="<%= user.description %>">
    <% if (image) { %>
    <meta property="twitter:image" content="https://www.kaiurl.xyz/img/<%= user.userid %>-<%= user._id %>.png">
    <% } %>
    <meta name="theme-color" content="#28a745">
    <% } else { %>
    <meta name="description" content="KaiURL is a website that allows you to shrink urls, which are uploaded to a database and seen publicly. For more information, check out our About page!">
    <meta name="author" content="Iris Zol">
    <meta name="keywords" content="Kai, KaiURL, .xyz, express, shortUrl, urlShort, shrinkURL, open-source, open source, MIT License, github"> 
    <!-- Google Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.kaiurl.xyz/<%= url %>">
    <meta property="og:title" content="<%= page %>">
    <meta property="og:description" content="KaiURL is a website that allows you to shrink urls, which are uploaded to a database and seen publicly. For more information, check out our About page!">
    <meta property="og:image" content="https://www.kaiurl.xyz/icon.ico"> 
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://www.kaiurl.xyz/<%= url %>">
    <meta property="twitter:title" content="<%= page %>">
    <meta property="twitter:description" content="KaiURL is a website that allows you to shrink urls, which are uploaded to a database and seen publicly. For more information, check out our About page!">
    <meta property="twitter:image" content="https://www.kaiurl.xyz/icon.ico">
    <meta name="theme-color" content="#28a745">
    <% } %> 
    <!-- CSS --><% if (theme) { if (theme == 'dark') { %>
    <link rel="stylesheet" href="/css/style.css"> <% } else { %>
    <link rel="stylesheet" href="/css/index.css"> <% }} else { %>
    <link rel="stylesheet" href="/css/index.css"> <% } if (url == "u" || url == "i/admin" || url == "kaipaste/admin" || url == "account" || url == "account/files") { %>
    <% if (theme && theme == "dark") { %><link rel="stylesheet" href="/css/tableDark.css"><% } else { %><link rel="stylesheet" href="/css/table.css"><% }} %>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script defer src="/js/nav.js"></script>
    <%if(u){%><script defer src="/js/user.js"></script><%}%>