<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "URLs", url: "u" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/u/admin", pageName: "URLs" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
        <center>
            <table id="container">
                <tr><th>Link</th><th>Remove</th></tr>
                <tbody><% r.forEach(e => { %>
                    <tr>
                        <td><a href="/<%= e.short %>" target="_" title="<%= e.full %>">https://www.kaiurl.xyz/<%= e.short %></a></td>
                        <td><%if(e.removed){%>
                            <form class="form" id="form-url-add">
                                <input type="text" hidden value="<%-e.short%>" name="id">
                                <button type="submit" class="form-button">Add</button>
                            </form><%}else{%>
                            <form class="form" id="form-url-remove">
                                <input type="text" hidden value="<%-e.short%>" name="id">
                                <button type="submit" class="form-button">Remove</button>
                            </form><%}%>
                        </td>
                    </tr><% }); %>
                </tbody>
            </table>
        </center>
        </div>
    </div>
</body>
</html>