<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "URLs", url: "u" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/u", pageName: "URLs" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <div class="u">
                <center>
                <h3><input class="searchBar" type="text" id="myInput" onkeyup="searchUrl()" placeholder="Search for URLs.." title="Type in a url"></h3>
                <table id="container">
                    <tr><th>Short URL</th><th>Show URL Details</th></tr>
                    <tbody><% r.forEach(short => { if (short.removed) { return } %>
                        <tr>
                            <td><a href="/<%-short.short%>" target="_" title="<%-short.full%>">https://www.kaiurl.xyz/<%-short.short%></a><%if(short.verified){%>  ✔<%}%></td>
                            <td><a href="https://api.kaiurl.xyz/<%-short.short%>" target="_" title="<%= short.full %>">/find</a></td>
                        </tr><% }) %>
                    </tbody>
                </table>
            </center>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function searchUrl() {
        var input, filter, td, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        td = document.getElementsByTagName("td");
        for (i = 0; i < td.length; i++) {
            a = td[i].getElementsByTagName("a")[0];
            txtValue = a.title || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                td[i].style.display = "";
            } else {
                td[i].style.display = "none";
            }
        }
    }
</script>