<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "Home", url: "" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/", pageName: "Home" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <h2>Create a short URL here:</h2>
            <center>
            <div class="center-container">
            <p class="error" id="error"></p>
            <form class="form" id="form-shrink">
                <div class="form-item">
                    <label class="form-label" for="fullURL">Enter URL</label>
                    <input placeholder="https://www.kaiurl.xyz" type="text" class="form-input" name="FullURL" id="fullURL" autocomplete="off" spellcheck="off">
                </div>
                <button class="form-button" type="submit">Shrink</button>
            </form>
        </div><% if (news) { %>
        <br><br>
        <div class="center-container">
            <h3>News:</h3>
            <h4><%- news.title %></h4>
            <p><%- news.body %></p>
            <small><a href="/news/<%-news.id%>" target="_">Direct URL</a></small>
        </div><% } %>
        </center>
        </div>
    </div>
</body>
</html>
