<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: 'Edit your cape', url: "capes/edit" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/capes/edit", pageName: "" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <h2>Add a custom cape design:</h2>
            <form action="/capes/upload/<%-cape.user%>" method="POST" class="form" enctype="multipart/form-data">
                <label for="Image" class="form-label">Cape Image:</label>
                <input type="file" name="File" id="Image" class="form-input"> <br> <br>
                <button class="form-button">Upload</button>
            </form>
            <img src="/capes/view/<%-cape.user%>" alt="<%-cape.user%>'s Custom Cape Design"> <br>
            
            <form action="/capes/delete/<%-cape.user%>" method="POST" class="form">
                <button class="form-button">Delete cape</button>
            </form>
        </div>
    </div>
</body>
</html>