<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "KaiURL's Changelogs", url: "changelog" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/changelog", pageName: "" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
        <center>
            <div class="center-container">
                <h2>Title:<br><%- c.title %></h2>
                <p>Version:<br><%- c.version %></p>
                <p>Changes:<br><%- c.description %></p>
                <small><%- c.date %> (<%- d.format(c.date, 'en-us') %>)</small>
            </div>
        </center>
        </div>
    </div>
</body>
</html>