<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../meta/index', { page: "Bug Page", url: "support/report-bug/reportId/" + bug.bugId }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../../header/index', { page: "/support/report-bug/reportId/" + bug.bugId, pageName: bug.bugId }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <% if (bug.userId) { %>
                <h2>Reporter Id: <a href="/user/<%= bug.userId %>"><%= bug.userId %></a></h2>
            <% } else { %>
                <h2>Reporter Id: null</h2>
            <% } %>
            <h2>Bug Name: <%= bug.title %></h2>
            <h2>Bug Details: <%= bug.description %></h2>
            <h2>How to reproduce the bug: <%= bug.reproduce %></h2>
            <p class="error">Bug Status: <%= bug.status %></p>
            <center>
                <form action="/support/report-bug/reportId/<%- bug.bugId %>/comment" class="form" method="POST">
                    <label for="com" class="form-label">Comment:</label><br>
                    <input type="text" name="comment" id="com" spellcheck="off" autocomplete="off" class="form-input">
                    <br>
                    <button type="submit" class="form-button">Comment</button>
                </form>
            <% if (admin) { %>
                <br><br>
                <form action="/support/report-bug/reportId/<%- bug.bugId %>/status" method="post" class="form">
                    <label for="status" class="form-label">Change Status:</label>
                    <select name="status" id="status" class="form-input">
                        <option value="Waiting">Waiting..</option>
                        <option value="Fixed">Fixed</option>
                        <option value="NFix">Not Fixable</option>
                        <option value="NReproduce">Could not reproduce</option>
                    </select>
                    <button type="submit" class="form-button">Submit</button>
                </form>
            <% } %>
            <% if (bug.comment.length > 0) { %>
                <div class="center-container">
                    <% bug.comment.forEach(e => { %>
                        <% let a = e.split('|'); %>
                        <p><%- a[1] %> - <% if (a[0].replace('userId-', '') == bug.userId) { %> <a href="/user/<%- a[0].replace('userId-', '') %>">Reporter</a> <% } else { %> <a href="/user/<%- a[0].replace('userId-','') %>">ADMIN</a> <% } %></p>
                        <% let t = user.findOne({ userid: a[0].replace('userId-', '') }); %> 
                    <% }); %>
                </div>
            <% } %>
            </center>
        </div>
    </div>
    </div>
</body>
</html>