<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: "News Admin Panel", url: "news/admin" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/news/admin", pageName: "" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <p class="error" id="error"></p>
            <form class="form" id="form-create-news" method="post">
                <label for="title" class="form-label">Title:</label>
                <input type="text" id="title" name="title" class="form-input" autocomplete="off">
                <br><br>
                <label for="body" class="form-label">Body:</label> <br>
                <textarea name="body" id="body" class="form-input" cols="30" rows="10"></textarea> <br>
                <label for="validate" class="form-label">Are you sure?</label>
                <input type="checkbox" name="validate" id="validate"> <br>
                <button type="submit" class="form-button">Submit</button>
            </form> 
            <center><% if (news[0]) { %><br>
                <div class="center-container">
                <form class="form" id="form-news-delete" method="post">
                <% news.forEach(e => { %>
                <h4>Title: <%- e.title %> <br> Id: <%- e.id %></h4>
                    <input type="text" name="id" value="<%- e.id %>" hidden>
                    <button type="submit" class="form-button">Delete</button>
                <small><a href="/news/<%= e.id %>">Direct URL</a></small>
                <% }); %>
                </form>
                </div><% } %>
            </center>
        </div>
    </div>
</body>
</html>

<script defer>
    $('#form-create-news').submit(function(e) {
        e.preventDefault();
        const formData = new URLSearchParams(new FormData(this));
        fetch('/config.json', { method: 'get' }).then((r) => r.json()).then(function (a) {
            let url;
            if (a.Url == false && a.debug == true) url = `http://localhost:3000`;
            if (a.Url == true && a.debug == false || a.Url == false && a.debug == false) url = `https://api.kaiurl.xyz`;
            fetch(`${url}/news/create?q=${getCookie('auth')}`, {
                method: 'post',
                body: formData
            }).then((r) => r.json()).then(async function (b) {
                let g = document.getElementById('error');
                if (b.OK == false) {
                    if (g.innerHTML) {
                        g.innerHTML = "";
                        g.innerHTML = b.error.message;
                    } else {
                        g.innerHTML = b.error.message;
                    }
                } else {
                    window.location.reload(1);
                }
            });
        });
    });

    $('#form-news-delete').submit(function(e) {
        e.preventDefault();
        const formData = new URLSearchParams(new FormData(this));
        fetch('/config.json', { method: 'get' }).then((r) => r.json()).then(function (a) {
            let url;
            if (a.Url == false && a.debug == true) url = `http://localhost:3000`;
            if (a.Url == true && a.debug == false || a.Url == false && a.debug == false) url = `https://api.kaiurl.xyz`;
            fetch(`${url}/news/delete?q=${getCookie('auth')}`, {
                method: 'post',
                body: formData
            }).then((r) => r.json()).then(async function (b) {
                let g = document.getElementById('error');
                if (b.OK == false) {
                    if (g.innerHTML) {
                        g.innerHTML = "";
                        g.innerHTML = b.error.message;
                    } else {
                        g.innerHTML = b.error.message;
                    }
                } else {
                    window.location.reload(1);
                }
            });
        });
    });
</script>