<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: news.title, url: "news" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/news", pageName: "" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <center>
                <div class="center-container">
                    <p class="error" id="error"></p>
                    <h4><%- news.title %></h4>
                    <p><%- news.body %></p>
                    <small>Created <%- time.format(news.date, 'en-us') %> | By <a href="/<%- author.userid %>"><%- author.user %></a></small>
                    <br><code id="likes">Likes: <%- likes.length %></code>
                    <br><form class="form" id="form-like">
                        <%if(u){%><button type="submit" id="like" class="form-button">Like post</button><%}%>
                    </form>
                </div>
                <br>
                <div class="center-container">
                    Comments:
                    <form id="form-chat" class="form" action=""><%if(u){%>
                        <input id="input" class="form-input" placeholder="Message" autocomplete="off"> <button class="form-button">Send</button><%}else{%>
                        <code><a href="/login">You need to be logged in to like and comment.</a></code><%}%>
                    </form>
                    <ul id="messages"><% if(comment[0]){ comment.forEach(e => {%>
                        <p><%-e.user%>: <%-e.message%></p>
                        <small>Messaged <%-time.format(e.date, 'en-us')%></small><%})};%>
                    </ul>
                </div>
            </center>
        </div>
    </div>
</body>
</html>
<%-include('../scripts/socket.io/news/index');%>
