<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../meta/index', { page: news.title, url: "news" }); %>
</head>
<body>
    <div id="sideBar" class="sidebar">
        <%- include('../header/index', { page: "/news", pageName: "" }) %>
    </div>
    <div id="main">
        <button id="nav" class="openbtn" onclick="openNav()">☰</button>
    </div>
    <div class="container">
        <div class="main">
            <center>
                <div class="center-container">
                    <p class="error" id="error"></p>
                    <h4><%- news.title %></h4>
                    <p><%- news.body %></p>
                    <small>Created <%- time.format(news.date, 'en-us') %> | By <a href="/<%- author.userid %>"><%- author.user %></a></small>
                    <br><code>Likes: <%- likes.length %></code><% if (u) { %>
                    <% let likeAuthor = []; likes.forEach(e => { %>
                        <% likeAuthor.push(e.user); %>
                    <% }); if (likeAuthor.includes(u.userid)) { %>
                    <form id="form-news-unlike" class="form" method="post">
                        <button type="submit" class="form-button">Unlike</button>
                    </form><% } else { %>
                    <form id="form-news-like" class="form" method="post">
                        <button type="submit" class="form-button">Like</button>
                    </form><% } %>
                    <form id="form-news-comment" class="form" method="post">
                        <label for="comment" class="form-label">Comment:</label>
                        <input type="text" class="form-input" id="comment" name="comment" autocomplete="off">
                        <button type="submit" class="form-button">Submit</button>
                    </form><%} else { %>
                    <br> <br>
                    <small><a href="/login">You need to be logged in to like and comment</a></small><% } %>
                </div>
                <% if (comment[0]) { %>
                    <br>
                    <div class="center-container">
                        <h5>Comments:</h5>
                        <% comment.forEach(e => { %>
                            <p><%- e %></p>
                        <% }); %>
                    </div>
                <% }; %>
            </center>
        </div>
    </div>
</body>
</html>

<script defer>
    $('#form-news-like').submit(function (e) {
        e.preventDefault();
        const formData = new URLSearchParams(new FormData(this));
        fetch('/config.json', { method: 'get' }).then((r) => r.json()).then(function (a) {
            let url;
            if (a.Url == false && a.debug == true) url = `http://localhost:3000`;
            if (a.Url == true && a.debug == false || a.Url == false && a.debug == false) url = `https://api.kaiurl.xyz`;
            fetch(`${url}/news/like?q=${getCookie('auth')}&id=<%= news.id %>`, {
                method: 'post',
                body: formData
            }).then((r) => r.json()).then(async function (b) {
                let g = document.getElementById('error');
                if (b.OK == false) {
                    if (g.innerHTML) {
                        g.innerHTML = "";
                        g.innerHTML = b.error.message;
                    } else {
                        g.innerHTML = b.error.message;
                    }
                } else {
                    window.location.reload(1);
                }
            });
        });
    });

    $('#form-news-comment').submit(function (e) {
        e.preventDefault();
        const formData = new URLSearchParams(new FormData(this));
        fetch('/config.json', { method: 'get' }).then((r) => r.json()).then(function (a) {
            let url;
            if (a.Url == false && a.debug == true) url = `http://localhost:3000`;
            if (a.Url == true && a.debug == false || a.Url == false && a.debug == false) url = `https://api.kaiurl.xyz`;
            fetch(`${url}/news/comment?q=${getCookie('auth')}&id=<%= news.id %>`, {
                method: 'post',
                body: formData
            }).then((r) => r.json()).then(async function (b) {
                let g = document.getElementById('error');
                if (b.OK == false) {
                    if (g.innerHTML) {
                        g.innerHTML = "";
                        g.innerHTML = b.error.message;
                    } else {
                        g.innerHTML = b.error.message;
                    }
                } else {
                    window.location.reload(1);
                }
            });
        });
    });

    $('#form-news-unlike').submit(function (e) {
        e.preventDefault();
        const formData = new URLSearchParams(new FormData(this));
        fetch('/config.json', { method: 'get' }).then((r) => r.json()).then(function (a) {
            let url;
            if (a.Url == false && a.debug == true) url = `http://localhost:3000`;
            if (a.Url == true && a.debug == false || a.Url == false && a.debug == false) url = `https://api.kaiurl.xyz`;
            fetch(`${url}/news/unlike?q=${getCookie('auth')}&id=<%= news.id %>`, {
                method: 'post',
                body: formData
            }).then((r) => r.json()).then(async function (b) {
                let g = document.getElementById('error');
                if (b.OK == false) {
                    if (g.innerHTML) {
                        g.innerHTML = "";
                        g.innerHTML = b.error.message;
                    } else {
                        g.innerHTML = b.error.message;
                    }
                } else {
                    window.location.reload(1);
                }
            });
        });
    });
</script>